POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=WnykGtj45aTQ
POSTGRES_DB=luxetix
POSTGRES_HOST=ep-wandering-cell-a1f7pmg5.ap-southeast-1.aws.neon.tech

REDIS_HOST=electric-poodle-36148.upstash.io
REDIS_PASSWORD=AY00AAIncDE0OTlhYjc4YjUyZGY0MDMyYTk5N2FjYTI3ZTg5NWI2N3AxMzYxNDg